# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE files
.idea/
.vscode/
*.iml

# Maven specific files and directories
target/
mvnw
mvnw.cmd

# Gradle specific files and directories
build/
.gradle/

# macOS system files
.DS_Store

# Eclipse project files
.settings/
.project
.classpath

# IntelliJ IDEA project files
*.ipr
*.iws

# NetBeans project files
nbproject/private/
build/
